<div class="card mb-3">
  <h3 class="card-header">Error 404</h3>
<img src="https://cdn.dribbble.com/users/2458211/screenshots/15485004/media/4a3c9c12dd944a0bc3b9a63bb984aba2.png" alt="Error 404">
</div>