<div class="row">
    <div class="col-md-12">
        <h2>Add Category</h2>
        <br>

        <form method="post" action="/categories/add">
            <fieldset>
                <legend style="color:white">Category:</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" , type="text" , name="category" , label="category", autofocus>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-primary pull-right" value="Add Category" />

        </form>
    </div>
</div>